@import "~bootstrap/scss/bootstrap";
.container {
  width: 720px;
  margin: 50px auto;
  ul {
    margin-top: 48px;
    margin-left: -40px;
    li {
      display: flex;
      img {
        width: 100px;
        height: 100px;
        margin-right: 24px;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}


